.cartList__Sec {
    padding: 70px 0;
}
.cartList__Sec h3 {
    font-size: 35px;
    margin-bottom: 20px;
}
.cartList__Sec button {
    background-color: #2b3a2b;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    height: 60px;
    font-size: 18px;
    border: none;
    outline: none;
}
.cartList__Sec button:hover {
    background-color: #c2c874;
}
.cartList__Sec .noteMessageBtn {
    width: 90%;
    margin-bottom: 20px;
}
.cartList__Sec__subTotal {
    color: #2b3a2b;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.noteMessageTextArea {
    transition: all 0.3s ease-in-out;
    border: 1px solid #dadada !important;
    outline: none !important;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding: 20px;
}
.noteMessageTextArea:focus {
    outline: none;
    border-color: #2b3a2b !important;
}
.cartList__payMentPart p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.68;
    color: #2b3a2b;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    font-style: italic;
}
.cartList__payMentPart button {
    width: 100%;
}
.cartList__cartItem {
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 1px solid #dadada;
    height: 300px;
}
.cartList__cartItem__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartList__Sec .cart__item__image {
    height: 100% !important;
}
.cartList__Sec .cart__item__image img {
    padding-block: 20px  !important;
    height: 100%;
}
.cartList__Sec .cartList__cartItem__remove {
    left: 10px;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding-bottom: 8px;
    background-color: #000000d7;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.cartList__Sec .cartList__cartItem__remove:hover {
    background-color: #c2c874;
}
.cartList__Sec .cart__item__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 30px 0;
}
.cartList__Sec .cart__item__content h5 {
    font-size: 32px;
}
.cartList__Sec .cart__item__content__volumn ,
.cartList__Sec .cart__item__content__price {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 500;
}