.swal2-confirm {
    background-color: #c2c874 !important;
    border-color: #c2c874 !important;
}
.swal2-cancel {
    background-color: #2b3a2b !important;
    border-color: #2b3a2b !important;
    margin-inline-end: 10px;
}
.swal2-confirm:focus-visible ,
.swal2-cancel:focus-visible ,
.swal2-confirm:focus ,
.swal2-cancel:focus{
    box-shadow: unset !important;
}