.singleProductDetail__sec{
    padding-top: 100px;
    padding-bottom: 100px;
}
.singleProductDetail__image{
    width: 100px !important;
   
}
.singleProductDetail__image img{
    object-fit: contain;
    width: auto;
    height: 100%;
}
.singleProductDetail__info h1,
.singleProductDetail__info__desc h1{
    margin: 0 0 15px;
    color: #2b3a2b;
    line-height: 1em;
    font-size: 44px;
}
.singleProductDetail__info__detail{
    margin-top: 15px;
}
.singleProductDetail__info__detail .text{
    width: 100%;
    margin: 0 0 15px;
}
.singleProductDetail__info__detail .text .span__tit{
    min-width: 140px;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    color: #2b3a2b;
}
.singleProductDetail__info__detail .text .span__value{
    width: calc(100% - 140px);
    color: #2b3a2b;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: "Sacramento", cursive;
}
.singleProductDetail__info__action button {
    background-color: #2b3a2b;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    height: 60px;
    font-size: 18px;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    width: 50%;
}
.singleProductDetail__info__action button:hover {
    background-color: #c2c874;
}
.singleProductDetail__info__desc{
    margin: 50px 0;
    padding: 30px 30px 10px;
    background: #f5f5d6;
}
.singleProductDetail__info__desc p{
    color: #2b3a2b;
    line-height: 1.8em;
    font-size: 20px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}

/* start ersposnive */
@media screen and (max-width: 600px) {
    .single__product__OnResponsive{
        display: flex;
        justify-content: center;
    }
    .singleProductDetail__image{
        justify-content: center;
    }
    .singleProductDetail__info{
        text-align: center;
    }
    .singleProductDetail__info__detail .text .span__tit {
        text-align: left;
    }
    .singleProductDetail__info__detail .text .span__value{
        text-align: right;
    }
    .singleProductDetail__info h1, 
    .singleProductDetail__info__desc h1{
        font-size: 30px;
        margin: 20px 0;
    }
    .singleProductDetail__info__desc p{
        text-align: left;
    }
    
}
