.newArrivalSec{
    padding-block: 130px;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}
.newArrival__title{
    margin-bottom: 50px;
    text-align: center;
}
.newArrival__title h4{
    color: #2b3a2b;
    font-size: 76px;
    line-height: 1em;
    font-weight: normal;
    font-family: "Sacramento", cursive;
    text-transform: capitalize;
}