.allPages__heroSection {
    position: relative;
    padding: 60px 0;
    text-align: center;
    transform: translateY(130px);
    -webkit-transform: translateY(130px);
    -moz-transform: translateY(130px);
    -ms-transform: translateY(130px);
    -o-transform: translateY(130px);
    overflow: hidden;
    margin-bottom: 130px;
}
.allPages__heroSection::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.42);
    background-image: url("../../assets/images//shopHeroSection/breadcrumb_d9c1be9a-a3dd-4a1f-b473-b1084fb13e85.webp");
    background-size: cover;
    background-position: top;
    margin-top: 50px;
    -webkit-transform: scale(1.42);
    -moz-transform: scale(1.42);
    -ms-transform: scale(1.42);
    -o-transform: scale(1.42);
    z-index: -1;
}
.allPages__heroSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 0;
}
.allPages__heroSection__title {
    position: relative;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 2;
    color: #fff;
}
.allPages__heroSection__content {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.allPages__heroSection .text-light {
    transition:  all 0.3s ease-in-out;
    -webkit-transition:  all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
}
.allPages__heroSection .text-light:hover {
    color:  rgb(146, 125, 4) !important;
}

/* start responsive */
@media screen and (max-width: 600px) {
    .allPages__heroSection__title {
        font-size: 44px;
    }
}