.registerAndLoginPage {
    background-image: url("../../assets/images//shopHeroSection/breadcrumb_d9c1be9a-a3dd-4a1f-b473-b1084fb13e85.webp");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.registerAndLoginPage::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 0;
}
.icon__routeBackToCart {
    left: 50px;
    top: 30px;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}
.registerAndLoginPage .registeration__form  {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 45px #ffffff26;
    padding: 30px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #2b3a2ba1;
}
.registeration__form h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
}
.registeration__form form{
    margin: 0 !important;
}
.registerAndLoginPage input ,
.registerAndLoginPage select {
    height: 50px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
.registerAndLoginPage select:focus ,
.registerAndLoginPage select:focus-visible {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #2b3a2b;
}
.registerAndLoginPage input:focus {
    border-bottom: 1px solid #2b3a2b;
}
.registerAndLoginPage input.input-error {
    border-bottom: 1.5px solid  red !important;
}
.registerAndLoginPage input::placeholder ,
.registerAndLoginPage select option {
    font-family: "Raleway", sans-serif;
}
.gotoLoginLink {
    text-decoration: underline !important;
    color: #15bae4;
}
.gotoLoginLink:hover {
    color: #69d7f3;
}
.registeration__form__btn button {
    width: 180px;
    height: 50px;
    outline: none;
    border: none;
    color: #2b3a2b;
    font-weight: 500;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.registeration__form__btn button:hover {
    background-color: #2b3a2b;
    color: #fff;
}
.registeration__form__btn__google{
    background-color: #fff;
    width: 60%;
    height: 50px;
    border: none;
    color: #2b3a2b;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}
.registeration__form__btn__google .icon__handler{
    margin-right: 10px;
    cursor: pointer;
}
.registeration__form__btn__google:hover{
    background-color: #2b3a2b;
    color: #fff;
}