.btn-close:focus {
    box-shadow: none !important;
}
.cart__canvas .offcanvas-header h5 {
    color: rgb(146, 125, 4) !important;
    font-size: 25px;
}
.cart__canvas .offcanvas-header {
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
    padding: 10px 15px;
    z-index: -1 !important;
}
.cart__canvas .offcanvas-backdrop.show {
    opacity: 0.7 !important;
}
.cart__canvas__item {
    padding: 15px 0;
    border-bottom: 1px solid #e4e3e3;
}
.cart__item__content__price ,
.cart__item__content__volumn ,
.offcanvas__cartTotalPrice__number {
    font-family: "Raleway", sans-serif;
}
.cart__item__image {
    height: 100px !important;
    object-fit: cover;
}
.cart__item__image img {
    object-fit: contain;
    padding: 25px 0 0 ;
    height: 100%;
}
.cart__item__counters .cart__item__counterNumber input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.cart__item__counters div {
    width: 50px;
    height: 40px;
    border: 1px solid #e4e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.cart__item__counterNegative ,
.cart__item__counterPositive {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.cart__item__counterNegative:hover , 
.cart__item__counterPositive:hover {
    background-color: #c2c874;
    color: #fff;
}
.offcanvas__cartItem__remove {
    font-size: 22px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding-bottom: 8px;
    background-color: #000000d7;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
}
.offcanvas__cartItem:hover .offcanvas__cartItem__remove {
    opacity: 1;
}
.offcanvas__cartItem__remove:hover {
    background-color: #c2c874;
}
.offcanvas__cartTotalPrice {
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #e4e3e3;
}
.offcanvas__cartTotalPrice h6 {
    font-size: 20px;
}
.offcanvas__cart__navigate {
    padding: 15px 0;
}
.cart__alert {
    font-size: 20px;
    line-height: 1.68;
    color: #2b3a2b;
    font-family: "Raleway", sans-serif;
    font-style: italic;
}
.cart__navigateBtn {
    width: 100%;
    height: 60px;
    background-color: #2b3a2b;
    color: #fff;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.cart__navigateBtn:hover {
    background-color: #c2c874;
}