.faq__Sec{
    padding: 70px 0;
}
.faq__box{
    margin-bottom: 10px !important;
    border-bottom: 0 !important;
}
.faq__question .accordion-button{
    border-radius: 0px 0px 0 0 !important;
    box-shadow: 0 0 10px #bbbbbb !important;
    /* background-color: #2b3a2b !important; */
    background-color: #443312 !important;
    cursor: pointer;
    padding: 20px 65px 20px 20px !important;
    color: #ffffff !important;
}
.faq__question .accordion-button:not(.collapsed)::after{
    color: #ffffff !important;
    background-image: url('../../assets/images/icons/minus.svg') !important;
}
.faq__question .accordion-button::after{
    background-image: url('../../assets/images/icons/plus.svg') !important;
}
.faq__answer{
    border-radius: 0 0 0px 0px !important;
    margin-bottom: 15px !important;
    background-color: #f5f5d6 !important;
    color: #2b3a2b !important;
    padding: 30px !important;
    font-size: 20px !important;
}
.faq__answer ul{
    padding-left: 30px !important;
}
.faq__answer ul li{
    list-style:circle;
}
.faq__answer a,
.faq__answer span
{
    cursor: pointer;
    color: rgb(146, 125, 4);
}
.faq__answer a:hover,
.faq__answer span:hover
{
    color: rgb(188, 168, 56);
}
/* start ersposnive */
@media screen and (max-width: 600px) {
    .faq__question .accordion-button{
        padding-right: 20px !important;
    }
    .accordion-button{
        justify-content: space-between;
    }
    
}