.scroll-to-top-button {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100% 100% 0%;
    z-index: 999;
}

.scroll-to-top-button.visible {
    display: block;
}
.arrow__Style{
    border: none;
    background: #2b3a2b;
    color: #fff;
    width: 40px;
    height: 40px;
    transition: ease .3s;
}
.arrow__Style:hover{
    background: #c2c874;
    color: #fff;
}