.hero__img__banner__phone {
    display: none;
}

.hero__img__banner {
    display: block;
}
/* start responsive */
/* xlarge Screen */
@media screen and (max-width: 1024px) and (min-width: 991px) {}

/* large screen */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .hero__img__banner img{
        height: 950px;
    }
}
/* small screen */
@media screen and (max-width: 767px) and (min-width: 0) {
    .hero__img__banner__phone {
        display: block;
    }
    .hero__img__banner {
        display: none;
    }
}
/* xsmal screen */
@media screen and (max-width: 375px) {}