.benfitDescSec{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    position: relative;
    background-size: auto;
    background-repeat: no-repeat;
}
.benfitDescSec::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    z-index: -1;
    background: #f5f5d6;
    width: 70%;
}
.benfitDesc__img{
    width: 130px;
}
.benfitDesc__img img{
    cursor: pointer;
}
.orderOnSmallScreen{
    justify-content: flex-end;
}
.benfitDesc__text h1{
    margin-bottom: 40px;
    font-size: 60px;
    color: #2b3a2b;
    text-transform: capitalize;
    font-weight: 500;
}
.benfitDesc__text h4{
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 300;
    color: #2b3a2b;
}
.benfitDesc__text p{
    font-size: 24px;
    font-weight: 300;
    color: #2b3a2b;
    font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 600px){
    .benfitDescSec::before{
        width: 100%;
        height: 100%;
    }
    .benfitDesc__img{
        display: none !important;
    }
   
}
@media screen and (max-width: 768px){
    .benfitDescSec::before{
        height: 100%;
    }
}
@media screen and (max-width: 1023px){
    .benfitDescSec::before{
        height: 100%;
    }
}
