.bottom__slider {
    background-color: #f5f5d6;
    padding: 70px 0;
}
.mySlider {
    cursor: grab;
    cursor: -webkit-grab
}
.slider__small__screen{
    display: none;
}
.swiper-slide img {
    width: 40%;
    cursor: grab;
    cursor: -webkit-grab
}
@media (max-width: 768px) and (min-width: 600) {
    .swiper-slide {
        width: calc(100%) !important;
    }
}
@media (max-width: 600px) and (min-width: 0){
    .slider__large__screen{
        display: none;
    }
    .slider__small__screen{
        display: block;
    }
}