.benfit__sec {
    padding-top: 110px;
    padding-bottom: 150px;
    height: auto;
    overflow: hidden;
}
.benfit__sec .benfit__sec__backGround__Image {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100%);
    width: 100%;
}
.benfit__sec .benfit__sec__backGround__Image img {
    object-fit: cover;
    height: 100%;
}
.benfit__text{
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}
.benfit__text__title{
    font-size: 76px;
    color: #2b3a2b;
    line-height: 1em;
    font-weight: 300;
    font-family: "Sacramento", cursive;
    text-transform: capitalize;
    top: -142px;
}
.row__item__one{
    margin-bottom: 100px;
}

.point__img img{
    border-radius: 50%;
    transition: all .3s linear;

}
.point__text p{
    font-size: 30px;
    max-width: 180px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 47px;
    color: #536853;
    font-family: "Raleway", sans-serif;
}
.box__item{
    position: relative;
    transition: all .3s linear;
    justify-content: space-between;
    z-index: 13;
}
.box__item:hover .point__img img{
    transform: scale(0.9);
}
.box__item__right0::after{
    content: '';
    width: 71%;
    height: 4px;
    background: white;
    position: absolute;
    bottom: 40px;
    right: 0 ;
    z-index: -13;
}
.box__item__left0::after{
    content: '';
    width: 70%;
    height: 4px;
    background: white;
    position: absolute;
    bottom: 40px;
    left: 0 ;
    z-index: -13;
}
/* start responsive */
/* xlarge Screen */
@media screen and (max-width: 1024px) and (min-width: 991px) {

}

/* large screen */
@media screen and (max-width: 992px) and (min-width: 768px) {
.benfit__sec__backGround__Image{
    display: none !important;
}
.benfit__sec{
    background: #f5f5d6;
    padding-top: 33px;
}
.benfit__text__title{
    top: 0;
}
.box__item{
    justify-content: center;
}
.box__item__right0{
    padding-right: 69px !important;
}
.box__item__left0{
    padding-left: 69px !important;
}
.point__text{
    padding: 0 20px;
}
}

/* meduim screen */
@media screen and (max-width: 768px) and (min-width: 600px) {
    .benfit__sec__backGround__Image{
        display: none !important;
    }
    .benfit__sec{
        background: #f5f5d6;
        padding-top: 33px;
    }
    .benfit__text__title{
        top: 0;
    }
    .box__item{
        justify-content: center;
    }
    .box__item__right0{
        padding-right: 69px !important;
    }
    .box__item__left0{
        padding-left: 69px !important;
    }
    .point__text{
        padding: 0 20px;
    }
}
/* small screen */
@media screen and (max-width: 600px) and (min-width: 376px) {
    .benfit__sec__backGround__Image{
        display: none !important;
    }
    .benfit__sec{
        background: #f5f5d6;
        padding-top: 115px;
    }
    .row__item__one{
        margin-bottom: 0;
    }
    .box__item{
        margin-bottom: 10px;
    }
}
/* xsmal screen */
@media screen and (max-width: 376px) {
    .benfit__sec__backGround__Image{
        display: none !important;
    }
    .benfit__sec{
        background: #f5f5d6;
        padding-top: 115px;
    }
    .row__item__one{
        margin-bottom: 0;
    }
    .box__item{
        margin-bottom: 10px;
    }
    .point__text p{
        font-size: 25px;
    }
}