.productItem{
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all .3s linear;
}
.productItem__img{
    position: relative;
    padding: 70px;
    z-index: 1;
}
.productItem__img img{
    animation: fadeIn .5s ;
    transition: all .3s;
}
@keyframes fadeIn{
    0%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.productItem__img img:hover{
    animation: fadeOut .5s ;
}
@keyframes fadeOut{
    0%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.productItem__details{
    position: relative;
    z-index: 1;
    padding: 10px 0;
}
.productItem__vendor{
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Cedarville Cursive';
    color: #2b3a2b;
}
.productItem__title{
    margin-bottom: 8px;
    color: #2b3a2b;
    text-transform: capitalize;
    line-height: 1em;
    font-family: 'Recursive', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.productItem__title h4{
    color: #2b3a2b;
    transition: all .3s linear;
    cursor: pointer;
}
.productItem__title h4:hover{
    color: #c2c874;
}
.productItem__price{
    margin-bottom: 8px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.8em;
    color: #2b3a2b;
}
.productItem__size{
    padding-top: 8px;
    margin: 5px 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.8em;
    color: #2b3a2b;
}
.productItem__size span{
    border: 1px solid #e9e9e9;
    margin: 5px;
    cursor: pointer;
    color: #2b3a2b;
    transition: all .3s linear;
}
.productItem__size span:hover{
    color: #c2c874;
}
.productItem__size span:last-child{
    margin-left: 0;
}
.prodOverlay{
    height: 100%;
    left: 0;
    bottom: -100%;
    opacity: 0;
    background-color: #f5f5d6;
    width: 100%;
    position: absolute;
    z-index: 0;
    transition: all .3s linear;
}
.productItem:hover .prodOverlay{
    bottom: 0;
    height: 65%;
    opacity: 1;
    z-index: 0;
}
.productItem__icons{
    position: relative;
    left: 0;
    right: 0;
    bottom: -20px;
    opacity: 0;
    transition: all .3s linear;
}
.productItem__icons i{
    cursor: pointer;
    color: #2b3a2b;
    transition: all .3s linear;
}
.productItem__icons i:hover{
    color: #c2c874;
}
.productItem:hover .productItem__icons{
    opacity: 1;
    bottom: 0;
}
.old__price{
    text-decoration: line-through;
}
