.footerContainer {
    height: auto;
}

.footerSec {
    /* background-color: #c2c874; */
    background-color: #a37e32;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
}

.footerSec .footer__Box {
   text-align: left;
   padding-right:  30px;
   width: 100%;
}
.footerSec .footer__Box .footer__logo{
    margin-top: -20px;
    text-align: center;
}
.footerSec .footer__Box.last{
    padding-right: 0;
}
.footerSec .footer__Box .footer__item__social ul{
    padding-left: 20px !important;
}
.footerSec .footer__Box .footer__item__social li{
    padding-right: 20px;
}
.footerSec .footer__Box .footer__item__social li a{
    text-decoration: none;
    color: #ffffff;
    transition: all .3s linear;
}
.footerSec .footer__Box .footer__item__social li a:hover{
    color: #2b3a2b;
}
.footerSec .footer__Box .footer__Box__title h5{
    margin-bottom: 25px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
}
.footerSec .footer__Box .contact__placeholder{
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
    font-size: 16px;

}
.footerSec .footer__Box .contact__placeholder a{
    color: #ffffff;
    transition: all .1s linear;
}
.footerSec .footer__Box .contact__placeholder a:hover{
    color: #2b3a2b;
}
.footerSec .footer__Box .contact__placeholder i{
    color: #ffffff;
    padding-right: 10px;
    line-height: 1.5em;
}
.footerSec .footer__Box .footer__Box__info p{
    color: #ffffff;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    transition: all .1s linear;
}
.footerSec .footer__Box .footer__Box__info p:hover{
    color: #2b3a2b;
}

.footerBottom{
    /* background-color: #c2c874; */
    background-color: #a37e32;
    color: #fff;
    padding: 4px 0;
    border-top: 1px solid #ffffff;
    text-align: center;
}
.footerBottom p{
    color: #ffffff;
    font-size: 20px;
    margin: 10px 0;
}
.footerBottom p .footerLink{
    color: #ffffff;
    text-decoration: none;
    transition: color .2s ease-out;
    cursor: pointer;
    margin-left: 3px;
    transition: all .3s linear;
}
.footerBottom p .footerLink:hover{
    color: #2b3a2b;
}


.form__actions{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 100%;
}
.form__actions input{
    width: 80%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
.form__actions input:focus{
    border: none ;
    border-bottom: 1px solid #2b3a2b;
    outline: none;

}
.form__actions input::placeholder{
    color: #ffffff;
    opacity: .7;
    font-size: 16px;
}
.form__actions button{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    outline: none;
    -webkit-appearance: none;
    line-height: 1.8em;
    -webkit-transform: translateY(14px);
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 0;
    font-size: 25px;
    color: #ffffff;
    transition: all .3s linear;
}
.form__actions button:hover{
    color: #2b3a2b;
}
.footer__Box form p{
    color: #ffffff;
}

/* satrt responsive */
/* small screen */
@media screen  and (max-width: 600px) {
    .footerSec .footer__Box .footer__logo{
        margin-top: 0;
        text-align: left;
    }
    .footerSec .footer__Box .footer__item__social ul{
        padding-left: 0 !important;
    }
}
/* medium screen */
@media screen  and (max-width: 991px) and (min-width: 600px) {
    .footerSec .footer__Box .footer__logo{
        margin-top: -10px;
        text-align: left;
    }
    .footerSec .footer__Box .footer__item__social ul{
        padding-left: 0 !important;
    }
}