.errorSection {
    padding: 0 0 50px;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
}
.errorSection h2 {
    font-size: 200px;
    font-weight: bold;
    color: #000;
}
.errorSection .errorAlert {
    font-size: 50px;
    color: #000;
    font-weight: 300;
}
.errorSection .errorApologise {
    font-size: 25px;
    color: #777;
}
@media (max-width: 991px) {
    .errorSection h2 {
        font-size: 150px;
    }
    .errorSection .errorAlert {
        font-size: 40px;
        color: #000;
        font-weight: 300;
    }
}
@media (max-width: 768px) {
    .errorSection h2 {
        font-size: 100px;
    }
    .errorSection .errorAlert {
        font-size: 35px;
        color: #000;
        font-weight: 300;
    }
    .errorSection .errorApologise {
        font-size: 22px;
    }
}
@media (max-width: 600px) {
    .errorSection h2 {
        font-size: 100px;
    }
    .errorSection .errorAlert {
        font-size: 25px;
        color: #000;
        font-weight: 300;
    }
    .errorSection .errorApologise {
        font-size: 20px;
    }
}