.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact__mainSec {
    padding: 70px 0;
}
.contact__mainSec__listItem {
    border: 1px solid #e4e3e3;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.contact__mainSec__listItem:hover {
    border-color: #2b3a2b;
}
.contact__mainSec__listItem__iconContainer {
    padding-inline-end: 10px;
}
.contact__mainSec__listItem__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #2b3a2b;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.contact__mainSec__listItem:hover .contact__mainSec__listItem__icon {
    background-color: #c2c874;
}
.contact__mainSec__listItem__text ul li {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.contact__mainSec__listItem__text ul li a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.contact__mainSec__listItem__text ul li a:hover {
    color: #c2c874;
}
.contact__mainSec form input ,
.contact__mainSec form textarea {
    outline: none;
    border: 1px solid #e4e3e3;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding: 15px 20px;
}
.contact__mainSec form input::placeholder ,
.contact__mainSec form textarea::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #a7a5a5;
    font-family: "Raleway", sans-serif;
}
.contact__mainSec form input:focus ,
.contact__mainSec form textarea:focus {
    border-color: #2b3a2b;
}
.contact__mainSec form textarea {
    min-height: 205px;
}
.contact__mainSec__form__submitBtn {
    width: 180px;
    height: 55px;
    outline: none;
    border: none;
    background-color: #2b3a2b;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.contact__mainSec__form__submitBtn:hover {
    background-color: #c2c874;
}
input.input-error,
textarea.input-error {
    border-color: #fc7272 !important;
}