.abouUs__Sec{
    padding-top: 140px;
    padding-bottom: 140px;
}
.aboutUs__row {
    padding: 70px 0;
}
.aboutUs__img{
   width: 95%;
   padding: 20px;
   padding-bottom: 0;
}
.aboutUs__img img{
    object-fit: contain;
}
.aboutUs__text{
    width: 100%;
    padding: 20px;
    text-align: left;
}
.aboutUs__text h4{
    color: #2b3a2b;
    margin: 0 0 15px;
    font-weight: 200;
    line-height: 1em;
}
.aboutUs__text h1{
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 700;
    color: #2b3a2b;
}
.aboutUs__text p{
    color: #2b3a2b;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.aboutUs__perfect__choosse__img{
    width: 100%;
    height: 100%;
}
.aboutUs__perfect__choosse{
    padding-top: 100px;
}
.aboutUs__perfect__choosse__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutUs__perfect__choosse__text{
    margin-top: -30px;
}
.aboutUs__perfect__choosse__text__headin{
    width: 100%;
}
.aboutUs__perfect__choosse__text__heading h1{
    font-size: 50px;
    margin: 0 0 10px;
    color: #2b3a2b;
    font-weight: 300;
}
.aboutUs__perfect__choosse__text__heading p{
    font-size: 20px;
    color: #2b3a2b;
    font-family: "Raleway", sans-serif;
    margin-bottom: 15px !important;
}
.aboutUs__perfect__choosse__text__list .listBox{
    /* display: flex; */
    /* flex-wrap: wrap; */
    height: 100%;
    cursor: pointer;
}
.aboutUs__perfect__choosse__text__list .listBox .iconBox{
    background: #f5f5d6;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    transform: translateY(20px) scale(1);
    -webkit-transform: translateY(20px) scale(1);
    -moz-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    -o-transform: translateY(20px) scale(1);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.aboutUs__perfect__choosse__text__list .listBox:hover .iconBox{
  transform:  translateY(20px) scale(1.2);
  -webkit-transform:  translateY(20px) scale(1.2);
  -moz-transform:  translateY(20px) scale(1.2);
  -ms-transform:  translateY(20px) scale(1.2);
  -o-transform:  translateY(20px) scale(1.2);
}
.aboutUs__perfect__choosse__text__list .listBox .iconBox i{
    font-size: 24px;
    width: auto;
    color: #2b3a2b;

}
.aboutUs__perfect__choosse__text__list .listBox .textBox{
    width: calc(100% - 50px);
    padding-left: 20px;
}
.aboutUs__perfect__choosse__text__list .listBox .textBox h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #2b3a2b;
}
.aboutUs__perfect__choosse__text__list .listBox .textBox p{
    font-size: 20px;
    color: #2b3a2b;
    font-family: "Raleway", sans-serif;
    /* margin: 0; */
}
@media screen and (max-width: 600px) {
    .aboutUs__img__onSmall{
        order: -1;
    }
    .aboutUs__text p{
        font-size: 16px;
    }
    .aboutUs__text h1{
        font-size: 30px;
    margin-bottom: 15px;

    }
    .aboutUs__img {
        width: 100%;
    }
    .aboutUs__perfect__choosse__text{
        margin-top: 0;
    }
}
@media screen and (max-width: 768px){
    .aboutUs__text p{
        font-size: 16px;
    }
    .aboutUs__text h1{
        font-size: 30px;
    margin-bottom: 15px;
    }
    .aboutUs__img{
        width: 100%;
        padding: 0 !important;
    }
}
@media screen and (max-width: 1023px){
    .aboutUs__text p{
        font-size: 16px;
    }
    .aboutUs__text h1{
        font-size: 30px;
    margin-bottom: 15px;
    }
    .aboutUs__img{
        width: 100%;
        padding: 0 !important;
    }
}