.bannerImageSec{
    background-image: url('../../assets/images/banner/banner-image.webp');
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
}
.bannerImage__text{
    /* max-width: 50%; */
    text-align: left;
    margin-bottom: 50px;
}
.bannerImage__text h4{
    margin-bottom: 30px;
    color: #2b3a2b;
    font-size: 76px;
    line-height: 1em;
    font-weight: normal;
    font-family: "Sacramento", cursive;
    text-transform: capitalize;
}
.bannerImage__text p{
    /* max-width: 400px; */
    font-size: 24px;
    font-weight: 400;
    color: #374d37;
    font-family: "Raleway", sans-serif;
}

/* start responsive */
/* xlarge Screen */
@media screen and (max-width: 1024px) and (min-width: 991px) {

}

/* large screen */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .bannerImageSec{
        background-position: center center;
    }
    .bannerImage__text{
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 250, 244, 0.395);
    }
}

/* meduim screen */
@media screen and (max-width: 768px) and (min-width: 600px) {
    .bannerImageSec{
        background-position: center center;
    }
    .bannerImage__text{
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 250, 244, 0.395);
    }
}
/* small screen */
@media screen and (max-width: 600px) and (min-width: 375px) {
.bannerImageSec{
    background-position: center center;
}
.bannerImage__text{
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 250, 244, 0.395);
}
.bannerImage__text h4{
    font-size: 50px;
}
}
/* xsmal screen */
@media screen and (max-width: 375px) {
    .bannerImageSec{
        background-position: center center;
    }
    .bannerImage__text{
        padding: 30px;
        border-radius: 10px;
        background-color: rgba(255, 250, 244, 0.395);
    }
    .bannerImage__text h4{
        font-size: 40px;
    }
}