.nav__Bg {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.offCanvas__head h5 {
    color: rgb(146, 125, 4) !important;
    font-size: 25px;
    padding-top: 20px;
}

.nav__absolute {
    position: absolute !important;
    background: transparent !important;
    transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
}

.nav__fixed {
    position: fixed !important;
    box-shadow: 0 2px 5px #e9e9e9;
    background-color: #fff !important;
    opacity: 0.9;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.navTransformationDown {
    transform: translateY(0);
    animation-name: navTransformationDown;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

@keyframes navTransformationDown {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.nav__link__style {
    font-family: 'Raleway', sans-serif;
    display: flex !important;
    align-items: center !important;
    /* padding: 5px 0px; */
    margin: 20px 0 !important;
    position: relative !important;
    font-size: 20px !important;
    color: #222 !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    transition: all .3s linear;
}

.nav__link__style:hover {
    color: rgb(146, 125, 4) !important;

}

.navbar-nav .nav-link.active {
    color: rgb(146, 125, 4) !important;
}

.nav__icon {
    height: 30px;
    line-height: 30px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 10px !important;
    cursor: pointer;
    position: relative;
    color: #2b3a2b !important;
    transition: all .3s linear;
}

.nav__icon:hover {
    color: rgb(146, 125, 4) !important;
}

.blockOnSmallScreen {
    display: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav__logoutPart-responsive {
    display: none !important;
}

.nav__logoutPart span {
    transition: all 0.3s ease-in-out;
    color: #000 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    padding-bottom: 5px !important;
}

.nav__logoutPart:hover span {
    color: #ff2020 !important;
}

.cartCounter {
    position: absolute;
    right: 0;
    top: -10px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #2b3a2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.Navbar__offCanvas__none__on__lg{
    display: none !important;
}
.Navbar__Collapse__none__on__med{
    display: block !important;
}
/* start ersposnive */
@media screen and (max-width: 600px) {
    /* .navbar-brand {
        display: none;
    } */
}

@media screen and (max-width: 993px) {

    .Navbar__offCanvas__none__on__lg{
        display: block !important;
    }
    .Navbar__Collapse__none__on__med{
        display: none !important;
    }

    .noneOnMediumScreen {
        display: none !important;
    }

    .blockOnSmallScreen {
        display: flex !important;
    }

    .nav__logoutPart-responsive {
        display: block !important;
        width: 100% !important;
        text-align: center;
    }
}