/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tilt+Neon&display=swap');
/* Hide Arrows From Input Type Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
/* Global Rules */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Raleway", sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Tilt Neon', sans-serif !important;
}
.container {
    max-width: 1000px !important ;
}
ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
/* Loader Styling */
.loaderContainer {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loader-wrapper {
    width: 60px;
    height: 60px;
}
.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid #2b3a2b;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    animation: rotate0925 5s linear infinite;
}
.loader-inner {
    border-top-color: #f38b36;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}
@keyframes rotate0925 {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
/* edit web-app colors */
.benfit__text__title,
.newArrival__title h4,
.bannerImage__text h4,
.singleProductDetail__info h1,
.singleProductDetail__info__desc h1,
.aboutUs__text h1,
.benfitDesc__text h1,
.aboutUs__text h4,
.benfitDesc__text h4,
.aboutUs__perfect__choosse__text__heading h1,
.aboutUs__perfect__choosse__text__list .listBox .textBox h1,
.aboutUs__perfect__choosse__text__list .listBox .iconBox i,
.contact__mainSec__form h3,
.productItem__title h4,
.cart__item__content h5,
.cartList__Sec h3,
.privacySec p
{
    color: #5a451c !important;
}
.productItem__title h4:hover,
.productItem__size span:hover,
.productItem__icons i:hover,
.contact__mainSec__listItem__text ul li a:hover 
{
    color: #a37e32 !important;
}
.arrow__Style{
    background: #443312 !important;
}
.arrow__Style:hover{
    background: #5a451c !important;
}
.singleProductDetail__info__action button,
.contact__mainSec__listItem__icon,
.contact__mainSec__form__submitBtn,
.cartCounter,
.cart__navigateBtn,
.cartList__Sec button
{
    background-color: #443312 !important;
}
.singleProductDetail__info__action button:hover,
.contact__mainSec__listItem__icon:hover,
.contact__mainSec__form__submitBtn:hover,
.cart__navigateBtn:hover,
.cartList__Sec button:hover,
.cart__item__counterNegative:hover,
.cart__item__counterPositive:hover,
.offcanvas__cartItem__remove:hover,
.cartList__Sec .cartList__cartItem__remove:hover
{
    background-color: #a37e32 !important;
}
.privacy__Item h1{
    color: #443312 !important;
}