.privacySec{
    padding: 80px 0;
}
.privacySec p{
    color: #2b3a2b;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}.privacySec ul{
    padding-left: 30px !important;
    margin: 10px 0 !important;
}
.privacySec ul li{
    list-style: circle;
}
.privacySec a{
    cursor: pointer;
    color: rgb(146, 125, 4);
}
.privacySec a:hover{
    color: rgb(188, 168, 56);
}
.privacy__sub__tit{
    color: #2b3a2b;
    font-size: 25px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}